:root {
  --unit-card-color: black;
  --tactic-card-color: brown;
}

* {
  margin: 0;
  padding: 0;
}

.game-container ,.card-container ,.opponent-field-cards ,.flg-container ,.my-field-cards {
  display: flex;
}

.game-container {
  height: 100vh;
  width: 100vw;
}

.game-board {
  height: 100%;
  width: 80%;
}

.battlefield {
  margin: auto;
}

.cards-container {
  width: 55px;
  height: 95px;
  margin: 0px 9px;
  border: 1px dashed #333;
}

.card {
  width: 40px;
  height: 65px;
  margin: 8px;
  border: 1px solid #333;
}

.unit-card {
  background-color: var(--unit-card-color);
}

.tactic-card {
  background-color: var(--tactic-card-color);
}

.circle {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  margin: 10px 30px;
}

.my-hand {
  position: absolute;
  bottom: 0px;
  /* align-items: flex-end; */
}

.deck {
  margin: auto;
}